extends layout

block content
    h1 #{title}
    h2 Your Media Library

    h3 Videos
    #list
        each video in videos
            .listItem
                h4
                    a(href="/watch?v=#{video.watchPath}") #{video.fileName}
