body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
}

a {
  color: #00B7FF;
}

.thumbnail {
    max-height: 180px;
    height: 180px;
}
